.wrap {
    padding: 0px 30px;
}

body {
    font-family: $raleway, 'serif';
}

.caracteristicas__barras img {
    animation: aparecer 3s ease-in-out 0s infinite
}

@keyframes aparecer {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 576px) {
    .wrap {
        padding: 0px 100px;
    }
}