footer {
    height: 100px;
    text-align: center;
    margin-top: 140px;
    background-color: $raising-black;
    color: $gray;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

footer a {
    font-size: $x-small;
    font-weight: 700;
    color: $gray;
}

footer p {
    font-size: $x-small;
    font-weight: 700;
    color: $gray;
    padding-top: 8px;
}

@media (min-width: 576px) {
    footer {
        margin-top: 130px;
    }
}

@media (min-width: 1000px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footer__links {
        padding-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    footer {
        margin-top: 150px;
    }

}

@media (min-width: 1300px) {
    footer {
        margin-top: 190px;
    }
}

@media (min-width: 1400px) {
    footer {
        margin-top: 280px;
    }
}

@media (min-width: 1500px) {
    footer {
        margin-top: 380px;
    }
}

@media (min-width: 1700px) {
    footer {
        margin-top: 540px;
    }
}

@media (min-width: 1900px) {
    footer {
        margin-top: 620px;
    }
}

@media (min-width: 2000px) {
    footer {
        margin-top: 650px;
    }
}

@media (min-width: 2560px) {
    footer {
        margin-top: 1000px;
    }
}